<!DOCTYPE html>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">       
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-theme.css">
    <link rel="stylesheet" href="bootstrap-theme.min.css">
    <link rel="stylesheet" href="styles.css?1.0">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet'>
    
    
    <title>{{personal.name}} - {{personal.jobtitle}}</title>
  </head>
  <body>
    <div id='main-wrapper'>
      <div id='information'>      
        <div id='bio'>
          <figure>
            <img src="{{personal.picture}}">
          </figure>  
          <div>
            <h1>{{personal.name}}</h1>
            <span class='job'>{{personal.jobtitle}}</span>
            <span class='location'><i class="fa fa-map-marker"></i> {{personal.location.city}}, {{personal.location.country}}</span>
          </div> 
        </div>
        <section id='profile'>
          <div class='wrapper'>
            <p>{{personal.bio}}</p>
          </div>
        </section>

        <section>
         <h2>Información</h2>
          <div class='wrapper'>
            <ul>
              <li><b>Fecha de nacimiento</b>: {{details.birthday}}</li>
              <li><b>Dirección #1</b>: {{details.adress}}</li>
              <li><b>Dirección #2</b>: {{details.adress2}}</li>
              <li><b>Teléfono </b><a href='tel:{{details.phone}}'>{{details.phone}}</a></li>
              <li>
                <b>Correo</b> : <a href='mailto:{{details.email}}'>{{details.email}}</a>
              </li>
              <li><b>Idiomas: Español Nativo, Ingles Avanzado (C1)</b></li>
            </ul>
          </div>
        </section>

        <section class='lists' id='experience'>
          <h2>Experiencia Laboral</h2>
          <div class='wrapper'>
            <ul>
            {{#exp}}           
              <li>
                <h3>{{charge}} @ <a href='{{link}}' rel='external' target='_blank'>{{place}}</a></h3>
                <span>{{start}} - {{end}}</span>
                <p>{{desc}}</p>     
              </li>          
            {{/exp}}  
            </ul> 
          </div>
        </section>

        <section class='lists' id='education'>
          <h2>Educación</h2>
          <div class='wrapper'>
            <ul>
            {{#edu}}           
              <li>
                <h3>{{title}}</h3>
                <span>{{start}} - {{end}}</span>
                <p>{{desc}}</p>     
              </li>          
            {{/edu}}  
            </ul>
          </div>
        </section>

      </div>

      <aside>
      <div class="firstH"><h2>Proyectos en los que he trabajado</h2></div>
      {{#projects}}
      <section>
        <div class="wrapper">
            <div class="project">
                <h3>{{nombre}} <a href='{{repo}}' rel='external' target='_blank' class="icon-external fa fa-external-link"></a></h3> 
                <div class="info">
                  <p>{{descripcion}}</p>
                </div>
                 <div class="tecnologias">
                     {{#tecnologias}}  
                      <span><b>#{{name}}</b></span>
                     {{/tecnologias}}
                </div>
            </div>
        </div>  
      </section> 
      {{/projects}}   

       
      <section>
         <h2>Certificaciones</h2>
          <div class='wrapper'>
              {{#certifications}}
              
              <a class="badge-info" href="{{link}}" target="blank">
                <img src="{{image}}"/>
                <span>
                  <h3>{{title}}</h3>
                  <span>{{issuedTo}}</span>
                  <span>{{issuedBy}}</span>
                </span>
              </a>

              {{/certifications}}        
          </div>
      </section>
     


      </aside> 
      
      <footer>
         <section>
          <div class='externallinks'>
           <ul>
            {{#links}}
              <li>
                <a href='{{link}}' rel='external' target='_blank'><i class="fa {{icon}} fa-2x"></i></a>
              </li>          
            {{/links}}
           </ul>
          </div>
        </section>

        <span>
          <ul>
            <li class="copy"> 
              Responsive Web Resume hosted in <a href='https://gitlab.com/sergioignacio/cv' rel='external' target='_blank'>GitLab</a>. 
            </li>    
          </ul>
        </span>
      </footer>  
    </div>
  </body>
</html>
